@page "/fetchdata"
@using TriviaServer

@inject Greeter.GreeterClient GreeterClient

<h1>Grpc Request</h1>

<p>This component demonstrates fetching data from a service.</p>

<input @bind="Name" />
<button class="btn btn-primary" @onclick="MakeGrpcCall">
    Make gRPC request
</button>

<p>@ResponseMessage</p>

@code {
    private string Name { get; set; }
    private string ResponseMessage { get; set; }
    private async Task MakeGrpcCall(MouseEventArgs e)
    {
        var request = new HelloRequest
        {
            Name = this.Name
        };
        var response = await GreeterClient.SayHelloAsync(request);
        ResponseMessage = response.Message;
        this.StateHasChanged();
    }
}
