@page "/playtrivia"
@using Grpc.Core
@using TriviaGame
@implements IDisposable

@inject Trivia.TriviaClient TriviaClient

@if (State <= GameState.WaitingForPlayers)
{
    <StartTriviaComponent OnClick="SendStartTrivia" />
}
<QuestionComponent Question="@Question" OnClick="SendAnswer" />
@if (State == GameState.WaitingForPlayers || State == GameState.WaitingForQuestion)
{
    <p>Waiting for other players...</p>
}
@if (State == GameState.GameEnded)
{
    <p>Score</p>
    <p>@Score</p>
}

@code {
    // UI
    private TriviaQuestion Question { get; set; }
    private int Score { get; set; }


    // Game mechanics
    private GameState State { get; set; } = GameState.Initial;
    private int PendingQuestions { get; set; }
    private TaskCompletionSource<object> AllAnswerSent { get; } = new TaskCompletionSource<object>();

    private AsyncDuplexStreamingCall<TriviaAnswer, TriviaQuestion> Call { get; set; }

    enum GameState
    {
        Initial,
        WaitingForPlayers,
        Responding,
        WaitingForQuestion,
        GameEnded
    }

    private async Task SendStartTrivia(string name)
    {
        State = GameState.WaitingForPlayers;
        await InvokeAsync(() => base.StateHasChanged());

        var player = new Player { Name = name };
        var game = await TriviaClient.StartTriviaAsync(player);

        var metadata = new Metadata();
        metadata.Add("playername", player.Name);
        metadata.Add("gameid", game.GameID);
        Call = TriviaClient.PlayTrivia(metadata);
        var responseHeaders = await Call.ResponseHeadersAsync;
        PendingQuestions = int.Parse(responseHeaders.SingleOrDefault(h => h.Key == "numberofquestions").Value);

        var readTask = Task.Run(async () =>
        {
            await foreach (var triviaQuestion in Call.ResponseStream.ReadAllAsync())
            {
                Question = triviaQuestion;
                State = GameState.Responding;
                await InvokeAsync(() => base.StateHasChanged());
            }
        });

        await AllAnswerSent.Task;
        await Call.RequestStream.CompleteAsync();
        await readTask;

        Question = null;

        var result = await TriviaClient.TriviaScoreAsync(new TriviaSession { Game = game, Player = player });
        Score = result.Score;
        State = GameState.GameEnded;

        await InvokeAsync(() => base.StateHasChanged());
    }

    private async Task SendAnswer(TriviaAnswer answer)
    {
        await Call.RequestStream.WriteAsync(answer);
        PendingQuestions--;

        if (PendingQuestions == 0)
        {
            AllAnswerSent.SetResult(null);
        }
        else
        {
            State = GameState.WaitingForQuestion;
            await InvokeAsync(() => base.StateHasChanged());
        }
    }

    public void Dispose()
    {
        Call?.Dispose();
    }

}
