@using TriviaGame

@if (Question != null)
{
    <p>@Question.Question</p>
    <ul>
        @for (int i = 0; i < Question.Answers.Count; i++)
        {
            <li>
                <button class="btn btn-primary" @onclick="@(() => OnClick.InvokeAsync(i))">
                    @Question.Answers[i]
                </button>
            </li>
        }
    </ul>
}

@code {
    [Parameter]
    public TriviaQuestion Question { get; set; }

    [Parameter]
    public EventCallback<int> OnClick { get; set; }

}
