@using TriviaGame

@if (Question != null)
{
    <p>@Question.Question</p>
    <ul>
        @foreach (var answer in Question.Answers.Select((AnswerString, AnswerIndex) => new { AnswerIndex, AnswerString}))
        {
            <li>
                <button class="btn btn-primary" @onclick="@(() => OnClick.InvokeAsync(new TriviaAnswer { QuestionID = Question.QuestionID, Answer = answer.AnswerIndex}))">
                    @answer.AnswerString
                </button>
            </li>
        }
    </ul>
}

@code {
    [Parameter]
    public TriviaQuestion Question { get; set; }

    [Parameter]
    public EventCallback<TriviaAnswer> OnClick { get; set; }


}
